.container{
    display: flex;
    /* flex-direction: column;
    flex-direction: row-reverse; */
    background-color: lightpink;
    height: 500px;
    width: 1000px;
    border: 2px solid plum;
    /* flex-wrap: wrap; */
    /* justify-content: flex-end; */
    /* justify-content: space-between;     */
    justify-content: center;                 /* it works on main axis */

    align-items: center;                     /* it works on cross axis */
    /* align-items: baseline; */

    align-content: center;                  /* it works when there are multiple rows */
    column-gap: 10px;
}

.item{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: brown;
    color: white;
    text-align: center;
    align-content: center;
    flex-grow: 1;
}
.item2{
    order: -1;
    flex-grow: 2;
    align-self: flex-end;
}