.container{
    display: grid;
    background-color: rgb(104, 205, 239);
    border: 2px solid navy;
    height: 400px;
    width: 1000px;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    /* grid-template-areas: "header header header header"
                         "main main . sidebar" "footer footer footer footer"; */
    /* column-gap: 10px; */
    justify-items: center;          /* it works on inline axis */
    align-items: center;            /* it works on block axis */
    justify-content: start;

}

.item{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: teal;
    color: white;
    text-align: center;
    align-content: center;
    border-radius: 50%;

}

/* .item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
} */