/* div{
            border: black 4px solid;
            width: 730px;
            height: 240px;
            margin: auto;
        }
        #college{
            width: 600px;
            height: auto;
            background-color: yellow;
            padding: 20px;
            border: blue 25px solid;
            margin: 30px;
            text-align: center;
        } */

        /* span{
            display: block;
        } */

        /* div{
            display: inline;
        } */


/* Example 1 */
        .container{
            height: 500px;
            width: 700px;
            border: 3px solid black;
            padding: 20px;
        }
        .box{
            height: 400px;
            width: 200px;
            border: 2px solid black;
            margin: 10px;
            display: inline-block;
        }
        .box1{
            background-color: goldenrod;
            color: black;
            text-align: center;
        }
         .box2{
            background-color: purple;
            color: black;
            text-align: center;
        }
        .box3{
            background-color: lightblue;
            color: black;
            text-align: center;
        }
