div{
            border: black 4px solid;
            width: 730px;
            height: 240px;
            margin: auto;
        }
        #college{
            width: 600px;
            height: auto;
            background-color: yellow;
            padding: 20px;
            border: blue 25px solid;
            margin: 30px;
            text-align: center;
        }
