/* p{
    color:red;
    font-size: 25px;
}

.jk{
    color: blue;
}

#jk1{
    color:brown;
} */
/* 
div{
    height: 200px;
    width: 200px;
    background-color: aqua;
    text-align: center;
    align-content:center;
    padding: 5px;
    margin: 10px 200px;
    border: 10px solid red;
} */

/* .tc{
    height: 200px;
    width: 200px;
    color: blueviolet;
} */


.assignment{
    width: 500px;
    height: 300px;
    padding: 1px;
    border: 5px solid black;
    margin: 1px;
}

.under{
    width: 400px;
    height: 100px;
    margin: 10px;
    padding: 1px;
    border: 35px solid blue;
    background-color: yellow;
    align-content: center;

}

